@using mdlDudunBot

@{
    ViewBag.Title = "Home Page";
    var portfolio = ViewData["Portfolio"] as IEnumerable<Portfolio>;
    var blog = ViewData["Blog"] as IEnumerable<Blog>;
    var number = 0;
}

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Project I've done in the past.</h3>
        </div>
        <div class="row">
            @foreach (var item in portfolio)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <img class="img-fluid" src="~/Assets/Upload/Portfolio/@item.Image" alt="..." />
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">@item.Title</div>
                            <div class="portfolio-caption-subheading text-muted">@item.Client</div>
                        </div>
                    </div>
                </div>
            }

            </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Blog</h2>
            <h3 class="section-subheading text-muted">What's currently going in my head.</h3>
        </div>
        <ul class="timeline">
            @foreach (var item in blog)
            {
                number++;
                if (number % 2 == 0)
                {
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Assets/Upload/Blog/@item.Image" alt="..." />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@item.CreatedAt.AsDateTime().ToString("MMMM") - @item.CreatedAt.AsDateTime().Year</h4>
                                <h4 class="subheading">@item.Title</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">@Html.Raw(item.Content)</p></div>
                        </div>
                    </li>
                }
                else
                {
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Assets/Upload/Blog/@item.Image" alt="..." />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@item.CreatedAt.AsDateTime().ToString("MMMM") - @item.CreatedAt.AsDateTime().Year</h4>
                                <h4 class="subheading">@item.Title</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">@Html.Raw(item.Content)</p></div>
                        </div>
                    </li>
                }

            }
        </ul>
    </div>
</section>